<table class="table">
  <thead>
    <tr>
      <th>Completed</th>
      <th>Title</th>
      <th>Due date</th>
    </tr>
  </thead>
  <tbody id="todo-items">
  </tbody>
</table>

<div class="row">
  <div class="col-xs-4 btn-group">
    <button class="btn btn-default on">All</button>
    <button class="btn btn-default">Completed</button>
    <button class="btn btn-default">Active</button>
  </div>

  <div class="col-xs-offset-4 col-xs-4">
    <button id="complete-all-button" class="btn btn-primary">Complete all</button>
    <button id="delete-completed-button" class="btn btn-danger">Delete completed</button>
  </div>
</div>
